<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ref12_dependencies" value="https://ref12.pkgs.visualstudio.com/Ref12/_packaging/Dependencies%40Local/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>